{% extends "base.html" %}
{%block title%}Romskjema - oversikt bygg{% endblock %}
{% block header %}Bygg{% endblock %}

{%block content %}
<div class="text-div">
    <h3>Bygg</h3>
    <!-- New room form -->
    <h1  class="app-content-Text">Legg til bygg i prosjekt</h1>
    <p>
        <form class="custom-form profile-form" method="POST" role="form">
            <input type="text" name="building_name" id="building_name" placeholder="Navn på bygg">
                <button type="submit" class="form-button">
                    Legg til
                </button>
        </form>
    </p>
    <!-- End new room form -->
    <p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
    {% endwith %}

    </p>

    <h1  class="app-content-Text">Prosjektets bygg</h1>
    {% if not project_buildings %}
        <p class="p-description">Ingen bygg lagt inn for {{ project.ProjectName }}</p>
    {%else %}
        {% for building, area, supply, extract in project_buildings %}
            <p class="p-description">{{building.BuildingName}}
            <br>
            Areal: {{area}} m2
            <br>
            Prosjektert luftmengde:
            <br>
            - Tilluft: <span class="supply-text">{{supply}} </span>m3/h
            <br>
            - Avtrekk: <span class="extract-text">{{extract}} </span> m3/h
            </p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}