{% extends "base.html" %}
{%block title%}Romskjema - oversikt bygg{% endblock %}
{% block header %}Bygg{% endblock %}

{%block content %}
<div class="text-div">
    <h3>Bygg</h3>
    <!-- New room form -->
    <h1  class="app-content-Text">Legg til bygg i prosjekt</h1>
    <p>
        <form class="custom-form profile-form" method="POST" role="form">
            <input type="text" name="building_name" id="building_name" placeholder="Navn på bygg">
                <button type="submit" class="form-button">
                    Legg til
                </button>
        </form>
    </p>
    <!-- End new room form -->

    <!-- Start room list -->

    <h1  class="app-content-Text">Prosjektets bygg</h1>
    {% if not project_buildings %}
            <p>Ingen bygg lagt inn for {{ project.ProjectName }}</p>
        {%else %}
        {% for building in project_buildings %}
            <p>{{building.BuildingName}}</p>
            <h6>nnn m2</h6>
        {% endfor %}
        {% endif %}
</div>
{% endblock %}