{% extends "base.html" %}
{%block title%}Romskjema{% endblock %}
{% block header %}Romskjema{% endblock %}

{%block content %}
<div class="text-div">
    <p>
        <h1 class="app-content-subTitleheaderText">{{project.ProjectName}}</h1>
        <h1 class="app-content-Text">Logget inn som {{user.name}}</h1>
    </p>
    <p class="app-content-Text">
        <h1 class="app-content-Text">Prosjektnummer</h1>
        {{project.ProjectNumber}}
    <p>
    <p class="app-content-Text">
        <h1 class="app-content-Text">Prosjektnavn</h1>
        {{project.ProjectName}}
    </p>
    <p class="app-content-Text">
        <h1 class="app-content-Text">Størrelse</h1>
        10000m2
    </p>
    <p class="app-content-Text">
        <h1 class="app-content-Text">Beskrivelse</h1>
        {{project.ProjectDescription}}
    </p>
</div>
{% endblock %}