<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structor Tekniske Systemer AS - Romskjema</title>
    <link rel="stylesheet" href="/static/css/login_screen.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
    <div class="login-div">
        <h1 class="app-content-subTitleheaderText">Structor TS romskjema</h1>
        <h1 class="app-content-subTitleheaderText">Logg inn</h1>
        <form class="custom-form profile-form" method="POST" role="form" action="{{ url_for('auth.login')}}">
            <input class="form-control" type="email" name="email" id="email" placeholder="e-mail"> <br>
            <input class="form-control" type="password" name="password" id="password" placeholder="passord">
            <p>
                <button type="submit" class="form-button">
                    Logg inn
                </button>
            </p>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{message}}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        </form>
    </div>
</body>

</html>


