{% extends "base.html" %}
{%block title%}Romskjema{% endblock %}

{%block content %}
<div class="login-div">
    {% block page_subtitle%}<h1 class="app-content-headerText">Structor Tekniske Systemer AS</h1>{%endblock%}

    <h1 class="app-content-subTitleheaderText">Logg inn</h6>
    <form class="custom-form profile-form" method="POST" role="form">
        <input class="form-control" type="email" name="email" id="email" placeholder="e-mail">
        <input class="form-control" type="password" name="password" id="password" placeholder="passord">
        <p>
            <button type="submit" class="form-control ms-2">
                Logg inn
            </button>
        </p>
    </form>
</div>

{% endblock %}