{% extends "base.html" %}
{%block title%}Romskjema - velg prosjekt{% endblock %}
{% block header %}Velg prosjekt{% endblock %}

{%block content %}
<div class="text-div">
<h1 class="app-content-subTitleheaderText">Prosjekt</h1>
<form class="custom-form profile-form" method="POST" role="form">
    <p>
        <select name="project_id">
            <option value="none">-  Velg prosjekt -</option>
            {% for project in projects %}
            <option value="{{project.id}}">{{project.ProjectName}}</option>
            {% endfor %}
        </select>
    </p>
        <p>
            <button type="submit" class="form-button">
                Gå til
            </button>
        </p>
</form>
<br>
<h1 class="app-content-subTitleheaderText">Legg til nytt prosjekt</h1>
<form class="custom-form profile-form" method="POST" role="form">
    <input class="form-control" type="text" name="project_number" id="project_number" placeholder="Prosjektnummer">
    <input class="form-control" type="text" name="project_name" id="project_name" placeholder="Navn på prosjekt">
    
    <select name="project_specification" id="project_specification">
        <option value="none">- Kravspesifikasjon -</option>
        <option value="skok">Skok</option>
    </select>

        <br>

    <input class="form-control" type="text" name="project_description" id="project_description" placeholder="Kort prosjektbeskrivelse">
    <button type="submit" class="form-button">
        Legg til
    </button>
</form>
</div>
{% endblock %}