{% extends "base.html" %}
{%block title%}Romskjema - romliste{% endblock %}
{% block header %}Romliste{% endblock %}

{%block content %}
<div class="text-div">
<h1 class="app-content-subTitleheaderText">Romliste</h1>
    <!-- New room form -->
    <p>
      <p>Legg til nytt rom</p>
      <form id="new_room" method="POST" role="form">
        <select name="room_type" id="room_type">
          <option>- Romtype -</option>
          {% for room_type in project_room_types %}
          <option value = {{room_type.id}}>{{room_type.name}}</option>
          {% endfor %}
        </select>
        <select name="building_id" id="building_id">
          <option value="none">- Bygg -</option>
          
          {% for building in project_buildings %}
          <option value="{{building.id}}">{{ building.BuildingName }}</option>
          {% endfor %}
          
        </select>
        <input type="text" name="room_floor" id="room_floor", placeholder="Etasje" tabindex="1" required>
        <input type="text" name="room_number" id="room_number", placeholder="Romnummer" tabindex="2" required>
        <input type="text" name="room_name" id="room_name", placeholder="Romnavn" tabindex="3" required>
        <input type="text" name="room_area" id="room_area", placeholder="Areal" tabindex="4" required>
        <input type="text" name="room_people" id="room_people", placeholder="Personer" tabindex="5" required>
        <button class="form-button" id="alwaysActive" type="submit" tabindex="6">Legg til</button>
      </form>
    </p>
    <p>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
    <!-- End new room form -->

  <table id="roomsTable" class="products-area-wrapper tableView">
    <thead>
      <tr class="products-header">
        <th class="product-cell category">
          Bygg<button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
          </button>
        </th>
        
        <th class="product-cell category">
          Etasje<button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
          </button>
        </th>
                
        <th class="product-cell category">
          Romnr<button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
          </button>
        </th>
        
        <th class="product-cell category">
          Romnavn<button class="sort-button">
        </th>
        
        <th class="product-cell category">
          Areal<button class="sort-button">
        </th>
        
        <th class="product-cell category">
          Personer<button class="sort-button">
        </th>

        <th class="product-cell category">
          Kommentarer
        </th>
        <th class="product-cell category">
          Romdata
        </th>
        <th class="product-cell category">
          
        </th>
      </tr>
    </thead>

    <tbody>
      {% for room in project_rooms %}
      <tr class="products-row">
        <td id ="buildingName" class="product-cell status-cell table-truncate">
          {{room.building.BuildingName}}
        </td>
        <td id="floor" class="product-cell status-cell table-truncate">
          {{room.Floor}}
        </td>
        <td id="roomNumber" class="product-cell status-cell table-truncate">
          {{room.RoomNumber}}
        </td>
        <td id="roomName" class="product-cell status-cell table-truncate">
          {{room.RoomName}}
        </td>
        <td id="roomArea" class="product-cell status-cell table-truncate">
          {{room.Area}} m2
        </td>
        <td id="roomPopulation" class="product-cell status-cell table-truncate">
          {{room.RoomPopulation}} stk.
        </td>
        <td id="comments" class="product-cell status-cell table-truncate">
          {{room.Comments}}
        </td>
        <td class="product-cell status-cell table-truncate">
          Data
        </td>
        <td id="delete" class="product-cell status-cell table-truncate">
          <form><button class="table-button" onclick="deleteRoom(event)">Slett rom</button></form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  
  </table>

</div>
<script src="{{ url_for('static', filename='js/room_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/input_check.js') }}"></script>
{% endblock %}