{% extends "base.html" %}
{%block title%}Romskjema - endre prosjektinnstillinger{% endblock %}
{% block header %}Prosjektinnstillinger{% endblock %}

{%block content %}
<div class="text-div">
    <h1 class="app-content-subTitleheaderText">Instillinger for {{project.ProjectName}}</h1>
    <p>
        <form class="custom-form profile-form" method="POST" role="form">
            <input type="text" name="project_number" id="project_number" value="{{project.ProjectNumber}}" placeholder="Prosjektnummer">
            <input type="text" name="project_name" id="project_name" value="{{project.ProjectName}}" placeholder="Prosjektnavn">
            <input class="input-description" type="text" name="project_description" id="project_description" value="{{project.ProjectDescription}}" placeholder="Prosjektbeskrivelse">
    </p>
    
    <p>
            <button type="submit" class="form-button">
                Oppdater
            </button>
        </form>
    </p>
</div>
{% endblock %}