{% extends "base.html" %}
{%block title%}Sign up for Personal finance{% endblock %}
{% block pagetitle %}Sign up{%endblock%}



{% block content %}

<div class="row my-4">
    <div class="col-lg-7 col-12">
        <div class="custom-block bg-white">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <h6 class="mb-4">Enter personal information</h6>
                    <form class="custom-form profile-form" method="POST" role="form">
                        <input class="form-control" type="email" name="email" id="email" placeholder="E-mail" required>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" required>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required>
                        <input class="form-control" type="password" name="password_re" id="password_re" placeholder="Re-type password" required>
                        <div class="d-flex">
                            <button type="submit" class="form-control ms-2">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}