{% extends "base.html" %}
{%block title%}Romskjema - endre prosjektinnstillinger{% endblock %}
{% block header %}Kravspesifikasjoner{% endblock %}
{% block pagetitle %}Kravspesifikasjoner {% if specification %}- {{specification}}{%endif%}{%endblock%}

{% block page_subtitle %}
  {% if specification %}
    Romtabell {{specification}}
  {% else %}
    Kravspesifikasjoner
  {% endif %}
{% endblock %}
  
{% block content %}
  {% if specification %}
    <div class="table-header-container">
      <table id="roomsTable" class="table-wrapper">
          <thead>
            <tr class="table-header">
              <th class="table-cell table-cell-small">
                
              </th>
              <th class="table-cell table-cell-long">
                Romtype
              </th>
              <th class="table-cell">
                Luft per person
              </th>   
              <th class="table-cell">
                Emisjon
              </th>
              <th class="table-cell">
                Prosess
              </th>
              <th class="table-cell">
                Luft minimum
              </th>
              <th class="table-cell">
                Vent. prinsipp
              </th>
              <th class="table-cell table-cell-medium">
                Gjenvinner
              </th>
              <th class="table-cell">
                Styring
              </th>
              <th class="table-cell table-cell-long">
                Presiseringer
              </th>
              <th class="table-cell">
                  dB teknisk
              </th>
              <th class="table-cell">
                  dB naborom
              </th>
              <th class="table-cell">
                  dB korridor
              </th>
              <th class="table-cell table-cell-long">
                  Kommentar
              </th>
            </tr>
          </thead>
        </table>
      </div>
      
      <div class="table-container">
        <table id="roomsTable" class="table-wrapper">
          <tbody>
              {% for data in specification_data %}
            <tr class="table-row">
              <td class="table-cell table-cell-small">
                {{data.id}}
              </td>
              <td class="table-cell table-cell-long">
                {{data.name}}
              </td>
              <td class="table-cell">
                {{data.air_per_person}} m3/pers
              </td>
              <td class="table-cell">
                {{data.air_emission}} m3/m2
              </td>
              <td class="table-cell">
                {{data.air_process}} m3/h
              </td>
              <td class="table-cell">
                  {{data.air_minimum}} m3/h
                </td>
              <td class="table-cell">
                {{data.ventilation_principle}}
              </td>
              <td class="table-cell table-cell-medium">
                  <span class="hover-popup" data-popup="R=Roterende\nB=Batteri\nP=Plate">{{data.heat_exchange}}</span>
              </td>
              <td class="table-cell">
                  <span class="hover-popup" data-popup="V=VAV\nC=CAV\nT=Temp\nB=Bevegelse\nF=Fukt">{{data.room_control}}</span>
              </td>
              <td class="table-cell table-cell-long">
                  <span class="notes-popup" data-popup="{{data.notes}}">{{data.notes}}</span>
              </td>
              <td class="table-cell">
                  {{data.db_technical}}
              </td>
              <td class="table-cell">
                  {{data.db_neighbour}}
              </td>
              <td class="table-cell">
                  {{data.db_corridor}}
              </td>
              <td class="table-cell table-cell-long">
                  {{data.comments}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  {% else %}

    <p>
      <button class="app-content-headerButton" onclick="window.location.href='/home'">Lag ny kravspesifikasjon</button>
    </p>
    <p>
        Kravspesifikasjoner i databasen:
        <br>
        {% for spec in specifications %}
        - <a href="/specifications/{{spec.name}}">{{spec.name}}</a> <br>
        {% endfor %}
    </p>
      
  {% endif %}
<script src="{{ url_for('static', filename='js/spec_table.js') }}"></script>
{% endblock %}