{% extends "base.html" %}
{%block title%}Romskjema - Varmetapsberegninger{% endblock %}
{% block header %}Ventilasjon{% endblock %}


{%block page_subtitle %}Varmetapsberegninger - {{building.BuildingName}}{% endblock %}
{%block content %}

<input type="text" name="project_id" id="project_id" value="{{project.id}}" hidden readonly>
    <div class="ventilation-system-sorting-container">
      <div class="building-selector-container">
        <form id="project_building" method="POST">
          <select name="project_building" id="building_select" onchange="showBuildings()">
            {% if building %}
              <option value="{{building.id}}">{{building.BuildingName}}</option>
            {% else %}
              <option value="none">- Velg bygg -</option>
            {% endif %}
            {% for project_building in project_buildings %}
              {% if project_building.BuildingName != building.BuildingName %}
              <option value="{{project_building.id}}">{{project_building.BuildingName}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
          {% if heatloss %}
          <p>
            NB! Alle verdier under MÅ sjekkes opp mot RIBFY sin rapport for hvert bygg.
          </p>
          <table>
            <tr class="table-row">
              <td class="room-data-cell">{{building.BuildingName}} oppsummert</td>
            </tr>
            <tr  class="table-row">
              <td class="room-data-cell">Beregnet varmetap</td>
              <td class="room-data-cell">{{(heatloss[0]) | round(1)}} W</td>
            </tr>
            <tr  class="table-row">
              <td class="room-data-cell">Prosjektert varme</td>
              <td class="room-data-cell">
                
                <span {% if heatloss[1] < heatloss[0] %}class="extract-text"{% endif %}>{{(heatloss[1]) | round(1)}} W</span>
                
              </td>
            </tr>
            </table>
            {% else %}
            <table>
              <tr class="table-row">
                <td class="room-data-cell">Varmetap oppsummert</td>
              </tr>
              <tr  class="table-row">
                <td class="room-data-cell">Beregnet varmetap</td>
                {% if summary[0] %}
                <td class="room-data-cell"> {{ (summary[0] / 1000) | round(2)}} kW</td>
                
              </tr>
              <tr  class="table-row">
                <td class="room-data-cell">Prosjektert varme</td>
                <td class="room-data-cell">
                  <span {% if summary[1] < summary[0] %}class="extract-text"{% endif %}>{{ (summary[1] / 1000) | round(2)}} kW</span>
                </td>
                {% endif %}
              </tr>
              </table>
            {% endif %}
          
      </div>
    </div>
    <div class="ventilation-system-sorting-container">
      <div class="heating-settings">
        <form name="building_heating_settings" id="building_heating_settings">
          <input name="id" id="id" value="{{heating.id}}" hidden>
        Innetempertaur (C&#176;) <br> <input name="inside_temp" id="inside_temp" placeholder="20" class="input-heating" value="{{heating.InsideTemp}}" {% if not building %} disabled {% endif %}>
        <br>
        DUT (C&#176;) <br><input name="dut" id="dut" placeholder="-22" class="input-heating" value="{{heating.Dut}}"{% if not building %} disabled {% endif %}>
        <br>
        Temp ventilasjon (C&#176;) <br> <input name="vent_temp" id="vent_temp" placeholder="21" class="input-heating" value="{{heating.VentTemp}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Luftveksling infilt. (1/h) <br> <input name="infiltration" id="infiltration" placeholder="0,15" class="input-heating" value="{{heating.Infiltration}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi yttervegg (W/m<sup>2</sup>K)<br><input name="u_outer" id="u_outer" placeholder="0,22" class="input-heating" value="{{heating.UvalueOuterWall}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi vindu/dør (W/m<sup>2</sup>K)<br> <input name="u_window_door" id="u_window_door" placeholder="0,2" class="input-heating" value="{{heating.UvalueWindowDoor}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        U-verdi gulv grunn (W/m<sup>2</sup>K)<br> <input name="u_floor_ground" id="u_floor_ground" placeholder="0,18" class="input-heating" value="{{heating.UvalueFloorGround}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi gulv luft (W/m<sup>2</sup>K) <br><input name="u_floor_air" id="u_floor_air" placeholder="0,18" class="input-heating" value="{{heating.UvalueFloorAir}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi tak (W/m<sup>2</sup>K) <br> <input name="u_roof" id="u_roof" placeholder="0,18" class="input-heating" value="{{heating.UvalueRoof}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Kuldebroveri (W/m<sup>2</sup>K) <br> <input name="cold_bridge" id="cold_bridge" placeholder="0,06" class="input-heating" value="{{heating.ColdBridge}}"{% if not building %} disabled {% endif %}>
        <br>
        Årsmiddeltemp. (C&#176;)<br><input name="year_mid_temp" id="year_mid_temp" placeholder="5" class="input-heating" value="{{heating.YearMidTemp}}"{% if not building %} disabled {% endif %}>
        <br>
        Temp gulv mot luft (C&#176;)<br> <input name="temp_floor_air" id="temp_floor_air" placeholder="-20" class="input-heating" value="{{heating.TempFloorAir}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Tillegg (%)<br> <input name="safety" id="safety" placeholder="10" class="input-heating" value="{{heating.Safety}}"{% if not building %} disabled {% endif %}>
        <br>
        <p>
          <button class="table-button" type="submit" {% if not building %} disabled {% endif %}>Oppdater</button>
          </form>
        </p>
        
      </div>
    </div>
    
<div class="table-header-container">
  <table class="table-wrapper tableView">
    <thead>
      <tr class="table-header">
        <th class="table-id-cell">
          
        </th>        
        <th class="table-cell table-cell-small">
          Etasje
        </th>
                
        <th class="table-cell table-cell-medium">
          Romnr
        </th>
        
        <th class="table-cell">
          Romnavn
        </th>

        <th class="table-cell">
          Høyde
        </th>

        <th class="table-cell">
            Yttervegg m<sup>2</sup>
        </th>

        <th class="table-cell">
            Innervegg m<sup>2</sup>
        </th>

        <th class="table-cell">
            Vindu/dør m<sup>2</sup>
        </th>

        <th class="table-cell">
            Tak m<sup>2</sup>
        </th>

        <th class="table-cell">
            Gulv grunn m<sup>2</sup>
        </th>

        <th class="table-cell">
          Gulv luft m<sup>2</sup>
        </th>

        <th class="table-cell">
            Vent. m<sup>3</sup>/h
        </th>

        <th class="table-cell">
          &#8721; varmetap
        </th>

        <th class="table-cell">
          Valgt varme
        </th>

        <th class="table-cell">
          Varme/m2
        </th>

        <th class="table-cell">
          Varmekilde
        </th>
        <th class="table-cell table-cell-long">
            Kommentarer
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="table-container">
  <table id="heatingTable" class="table-wrapper tableView">
    <tbody>
      {% if rooms|length >= 1 %}
        {% for room in rooms %}
        <tr class="table-row">
          <td class="table-id-cell" hidden-data-column="vent_data_id">
            <span class="hidden-text">{{room.id}}</span>
          </td>
          <td class="table-cell table-cell-small">
            {{room.Floor}}
          </td>
          <td class="table-cell table-cell-medium">
            {{room.RoomNumber}}
          </td>
          <td class="table-cell">
            {{room.RoomName}}
          </td>
          <td class="table-cell" data-column="room_height">
            {{room.heating_properties.RoomHeight}} m
          </td>
          <td class="table-cell" data-column="outer_wall_area">
            {{room.heating_properties.OuterWallArea}} m<sup>2</sup>
          </td>
          <td class="table-cell" data-column="inner_wall_area">
            {{room.heating_properties.InnerWallArea}} m<sup>2</sup>
          </td>
          <td class="table-cell" data-column="window_door_area">
            {{room.heating_properties.WindowDoorArea}} m<sup>2</sup>
          </td>
          <td class="table-cell" data-column="roof_area">
            {{room.heating_properties.RoofArea}} m<sup>2</sup>
          </td>
          <td class="table-cell" data-column="floor_ground_area">         
            {{room.heating_properties.FloorGroundArea}} m<sup>2</sup>
          </td>
          <td class="table-cell" data-column="floor_air_area">
            {{room.heating_properties.FloorAirArea}} m<sup>2</sup>
          </td>
          <td class="table-cell">
            {{room.ventilation_properties.AirSupply}} m3/h
          </td>
          <td class="table-cell">
            {{room.heating_properties.HeatLossSum}} W
          </td>
          <td class="table-cell" data-column="chosen_heating">
            {{room.heating_properties.ChosenHeating}} W
          </td>
          <td class="table-cell">
            {% if room.heating_properties.ChosenHeating != 0 %}
            {{(room.heating_properties.ChosenHeating / room.Area) | round(1)}}W/m<sup>2</sup>
            {% else %}
            0 W/m<sup>2</sup>
            {% endif %}
          </td>
          <td class="table-cell" data-column="heat_source">
            {{room.heating_properties.HeatSource}}
          </td>
          <td class="table-cell table-cell-long" data-column="comment">
            {% if room.heating_properties.ChosenHeating < room.heating_properties.HeatLossSum %}
            Valgt varme under krav. 
            {% endif %}
          </td>
        </tr>
        {% endfor %}  
      {% endif %}
    </tbody>
  </table>


</div>
<script src="{{ url_for('static', filename='/js/heating_table.js') }}"></script>
{% endblock %}
