{% extends "base.html" %}
{%block title%}Romskjema - Varmetapsberegninger{% endblock %}
{% block header %}Ventilasjon{% endblock %}


{%block page_subtitle %}Varmetapsberegninger - {{building.BuildingName}}{% endblock %}
{%block content %}

<input type="text" name="project_id" id="project_id" value="{{project.id}}" hidden readonly>
          <div class="summaries-wrapper">
            <div class="summaries-table">
              <div class="summaries-row header blue">
                <div class="summaries-cell white">
                  {% if heatloss %}
                  {{building.BuildingName}} oppsummert
                  {% else %}
                  Varmetap oppsummert
                  {% endif %}
                </div>
                <div class="summaries-cell">
                  <form id="project_building" method="POST">
                    <select name="project_building" id="building_select" onchange="showBuildings()">
                      {% if building %}
                        <option value="{{building.id}}">{{building.BuildingName}}</option>
                      {% else %}
                        <option value="none">- Velg bygg -</option>
                      {% endif %}
                      {% for project_building in project_buildings %}
                        {% if project_building.BuildingName != building.BuildingName %}
                        <option value="{{project_building.id}}">{{project_building.BuildingName}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </form>
                </div>
              </div>
              <div class="summaries-row">
                <div class="summaries-cell">
                  Beregnet varmetap
                </div>
                <div class="summaries-cell">
                  {% if heatloss %}
                  {{(heatloss[0]) | round(0)}} W
                  {% else %}

                  {% if summary[0] %}
                  {{ (summary[0] / 1000) | round(1)}} kW
                  {% endif %}
                  {% endif %}
                  
                </div>
              </div>
              <div class="summaries-row">
                <div class="summaries-cell">
                  Prosjektert varme
                </div>
                <div class="summaries-cell">
                  {% if heatloss %}
                  <span {% if heatloss[1] < heatloss[0] %}class="extract-text"{% endif %}>{{(heatloss[1]) | round(0)}} W</span>
                  {% else %}
                  {% if summary[0] %}
                  <span {% if summary[1] < summary[0] %}class="extract-text"{% endif %}>{{ (summary[1] / 1000) | round(2)}} kW</span>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="summaries-row">
                <div class="summaries-cell">
                  NB! Alle verdier under MÅ sjekkes opp mot RIBFY sin rapport for hvert bygg.
                </div>
                <div class="summaries-cell">
                  
                </div>
              </div>
            </div>
          </div>

    <div class="ventilation-system-sorting-container no-print">
      <div class="heating-settings">
        <form name="building_heating_settings" id="building_heating_settings">
          <input name="id" id="id" value="{{heating.id}}" hidden>
        Innetempertaur (C&#176;) <br> <input name="inside_temp" id="inside_temp" placeholder="20" class="input-heating" value="{{heating.InsideTemp}}" {% if not building %} disabled {% endif %}>
        <br>
        DUT (C&#176;) <br><input name="dut" id="dut" placeholder="-22" class="input-heating" value="{{heating.Dut}}"{% if not building %} disabled {% endif %}>
        <br>
        Temp ventilasjon (C&#176;) <br> <input name="vent_temp" id="vent_temp" placeholder="21" class="input-heating" value="{{heating.VentTemp}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Luftveksling infilt. (1/h) <br> <input name="infiltration" id="infiltration" placeholder="0,15" class="input-heating" value="{{heating.Infiltration}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi yttervegg (W/m<sup>2</sup>K)<br><input name="u_outer" id="u_outer" placeholder="0,22" class="input-heating" value="{{heating.UvalueOuterWall}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi vindu/dør (W/m<sup>2</sup>K)<br> <input name="u_window_door" id="u_window_door" placeholder="0,2" class="input-heating" value="{{heating.UvalueWindowDoor}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        U-verdi gulv grunn (W/m<sup>2</sup>K)<br> <input name="u_floor_ground" id="u_floor_ground" placeholder="0,18" class="input-heating" value="{{heating.UvalueFloorGround}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi gulv luft (W/m<sup>2</sup>K) <br><input name="u_floor_air" id="u_floor_air" placeholder="0,18" class="input-heating" value="{{heating.UvalueFloorAir}}"{% if not building %} disabled {% endif %}>
        <br>
        U-verdi tak (W/m<sup>2</sup>K) <br> <input name="u_roof" id="u_roof" placeholder="0,18" class="input-heating" value="{{heating.UvalueRoof}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Kuldebroveri (W/m<sup>2</sup>K) <br> <input name="cold_bridge" id="cold_bridge" placeholder="0,06" class="input-heating" value="{{heating.ColdBridge}}"{% if not building %} disabled {% endif %}>
        <br>
        Årsmiddeltemp. (C&#176;)<br><input name="year_mid_temp" id="year_mid_temp" placeholder="5" class="input-heating" value="{{heating.YearMidTemp}}"{% if not building %} disabled {% endif %}>
        <br>
        Temp gulv mot luft (C&#176;)<br> <input name="temp_floor_air" id="temp_floor_air" placeholder="-20" class="input-heating" value="{{heating.TempFloorAir}}"{% if not building %} disabled {% endif %}>
      </div>
      <div class="heating-settings">
        Tillegg (%)<br> <input name="safety" id="safety" placeholder="10" class="input-heating" value="{{heating.Safety}}"{% if not building %} disabled {% endif %}>
        <br>
        <p>
          <button class="form-button" type="submit" {% if not building %} disabled {% endif %}>Oppdater</button>
          </form>
        </p>
      </div>
    </div>


<div class="table-wrapper">
  <table class="fl-table" id="heatingTable">
    <thead>
      <tr>
        <th class="table-id-cell">
          
        </th>        
        <th>
          Etasje
        </th>
                
        <th>
          Romnr
        </th>
        
        <th>
          Romnavn
        </th>

        <th>
          Høyde
        </th>

        <th>
            Yttervegg m<sup>2</sup>
        </th>

        <th>
            Innervegg m<sup>2</sup>
        </th>

        <th>
            Vindu/dør m<sup>2</sup>
        </th>

        <th>
            Tak m<sup>2</sup>
        </th>

        <th>
            Gulv grunn m<sup>2</sup>
        </th>

        <th>
          Gulv luft m<sup>2</sup>
        </th>

        <th>
            Vent. m<sup>3</sup>/h
        </th>

        <th>
          &#8721; varmetap
        </th>

        <th>
          <div class="table-description-dropdown">Valgt varme (W)
            <div class="table-description-dropdown-content">
                 Mengden varme som tas ut for rommet.
              </div>
            </div>
        </th>

        <th>
          Varme/m2
        </th>

        <th>
          Varmekilde
        </th>
        <th>
            Kommentarer
        </th>
      </tr>
    </thead>
    <tbody>
      {% if rooms|length >= 1 %}
        {% for room in rooms %}
        {% if room.ventilation_properties.room.SpecialSystem != "Ja" %}
        <tr>
          <td class="table-id-cell" hidden-data-column="vent_data_id">
            <span class="hidden-text">{{room.id}}</span>
          </td>
          <td>
            {{room.Floor}}
          </td>
          <td>
            {{room.RoomNumber}}
          </td>
          <td>
            {{room.RoomName}}
          </td>
          <td data-column="room_height">
            {{room.energy_properties.RoomHeight}}
          </td>
          <td data-column="outer_wall_area">
            {{room.energy_properties.OuterWallArea}}
          </td>
          <td data-column="inner_wall_area">
            {{room.energy_properties.InnerWallArea}}
          </td>
          <td data-column="window_door_area">
            {{room.energy_properties.WindowDoorArea}}
          </td>
          <td data-column="roof_area">
            {{room.energy_properties.RoofArea}}
          </td>
          <td data-column="floor_ground_area">         
            {{room.energy_properties.FloorGroundArea}}
          </td>
          <td data-column="floor_air_area">
            {{room.energy_properties.FloorAirArea}}
          </td>
          <td>
            {{room.ventilation_properties.AirSupply}}
          </td>
          <td>
            {{room.energy_properties.HeatLossSum}}
          </td>
          <td data-column="chosen_heating">
            {{room.energy_properties.ChosenHeating}}
          </td>
          <td>
            {% if room.energy_properties.ChosenHeating != 0 %}
            {{(room.energy_properties.ChosenHeating / room.Area) | round(1)}}
            {% else %}
            0
            {% endif %}
          </td>
          <td data-column="heat_source">
            {{room.energy_properties.HeatSource}}
          </td>
          <td data-column="comment">
            {% if room.energy_properties.ChosenHeating < room.energy_properties.HeatLossSum %}
            Valgt varme under krav. 
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}  
      {% endif %}
    </tbody>
  </table>


</div>
<script src="{{ url_for('static', filename='/js/heating_table.js') }}"></script>
{% endblock %}
