{% extends "base.html" %}
{%block title%}Romskjema - romliste{% endblock %}
{% block header %}Romliste{% endblock %}



{%block page_subtitle %}Romliste{% endblock %}
{%block content %}  
    <!-- New room form -->
  <div class="no-print">
    <p>
      <p>Legg til nytt rom</p>
      <input type="text" name="project_id" id="project_id" value="{{project.id}}" hidden readonly>
      <form id="new_room" method="POST" role="form">
        <select name="room_type" id="room_type">
          <option>- Romtype -</option>
          {% for room_type in project_room_types %}
          <option value = {{room_type.id}}>{{room_type.name}}</option>
          {% endfor %}
        </select>
        <select name="building_id" id="building_id">
          <option value="none">- Bygg -</option>
          
          {% for building in project_buildings %}
          <option value="{{building.id}}">{{ building.BuildingName }}</option>
          {% endfor %}
        </select>


        <input type="text" name="room_floor" id="room_floor", placeholder="Etasje" tabindex="1" required>

        <input type="text" name="room_number" id="room_number", placeholder="Romnummer" tabindex="2" required>

        <input type="text" name="room_name" id="room_name", placeholder="Romnavn" tabindex="3" required>

        <input type="text" name="room_area" id="room_area", placeholder="Areal" tabindex="4" required>

        <input type="text" name="room_people" id="room_people", placeholder="Antall personer" tabindex="5" required>

        <button class="form-button" id="alwaysActive" type="submit" tabindex="6">Legg til</button>
      </form>
    </p>
  </div>
    <!-- End new room form -->

  <div class="table-wrapper">
    <table class="fl-table" id="roomsTable">
      <thead>
        <tr>
          <th class="table-id-cell ">
          </th>
          <th>
            Bygg
          </th>
          
          <th>
            Etasje
          </th>
                  
          <th>
            Romnr
          </th>

          <th>
            Romtype
          </th>
          
          <th>
            Romnavn
          </th>
          
          <th>
            Areal m<sup>2</sup>
          </th>
          
          <th>
            Personer (stk)
          </th>

          <th>
            Kommentarer
          </th>
          <th>
            
          </th>
        </tr>
      </thead>
      <tbody>
        {% for room in project_rooms %}
        <tr>
          <td hidden-data-column="room_id" class="table-id-cell">
            <span class="hidden-text">{{room.id}}</span>
          </td>
          <td>
            {{room.building.BuildingName}}
          </td>
          <td>
            {{room.Floor}}
          </td>
          <td data-column="room_number">
            {{room.RoomNumber}}
          </td>
          <td data-column="room_name">
            {{room.room_type.name}}
          </td>
          <td data-column="room_name">
            {{room.RoomName}}
          </td>
          <td data-column="area">
            {{room.Area}}
          </td>
          <td data-column="population">
            {{room.RoomPopulation}}
          </td>
          <td data-column="comments">
            {{room.Comments}}
          </td>
          <td id="delete">
            <form><button class="table-button" onclick="deleteRoom(event)">Slett rom</button></form>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  
  <script src="{{ url_for('static', filename='/js/room_table.js') }}"></script>
{% endblock %}