{% extends "base.html" %}
{%block title%}Romskjema - romliste{% endblock %}
{% block header %}Romliste{% endblock %}



{%block page_subtitle %}Romliste{% endblock %}
{%block content %}  
    <!-- New room form -->

    <p>
      <p>Legg til nytt rom</p>
      <form id="new_room" method="POST" role="form">
        <select name="room_type" id="room_type">
          <option>- Romtype -</option>
          {% for room_type in project_room_types %}
          <option value = {{room_type.id}}>{{room_type.name}}</option>
          {% endfor %}
        </select>
        <select name="building_id" id="building_id">
          <option value="none">- Bygg -</option>
          
          {% for building in project_buildings %}
          <option value="{{building.id}}">{{ building.BuildingName }}</option>
          {% endfor %}
        </select>


        <input type="text" name="room_floor" id="room_floor", placeholder="Etasje" tabindex="1" required>

        <input type="text" name="room_number" id="room_number", placeholder="Romnummer" tabindex="2" required>

        <input type="text" name="room_name" id="room_name", placeholder="Romnavn" tabindex="3" required>

        <input type="text" name="room_area" id="room_area", placeholder="Areal" tabindex="4" required>

        <input type="text" name="room_people" id="room_people", placeholder="Personer" tabindex="5" required>

        <button class="form-button" id="alwaysActive" type="submit" tabindex="6">Legg til</button>
      </form>
    </p>

    <p>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
    <!-- End new room form -->

  <div class="table-header-container">
    <table class="table-wrapper tableView">
      <thead>
        <tr class="table-header">
          <th class="table-id-cell ">
          </th>
          <th class="table-cell ">
            Bygg
          </th>
          
          <th class="table-cell ">
            Etasje
          </th>
                  
          <th class="table-cell ">
            Romnr
          </th>

          <th class="table-cell ">
            Romtype
          </th>
          
          <th class="table-cell ">
            Romnavn
          </th>
          
          <th class="table-cell ">
            Areal
          </th>
          
          <th class="table-cell ">
            Personer
          </th>

          <th class="table-cell table-cell-very-long">
            Kommentarer
          </th>
          <th class="table-cell ">
            
          </th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table-container">
    <table id="roomsTable" class="table-wrapper">
      <tbody>
        {% for room in project_rooms %}
        <tr class="table-row">
          <td hidden-data-column="room_id" class="table-id-cell">
            <span clasS="hidden-text">{{room.id}}</span>
          </td>
          <td class="table-cell">
            {{room.building.BuildingName}}
          </td>
          <td class="table-cell">
            {{room.Floor}}
          </td>
          <td data-column="room_number" class="table-cell">
            {{room.RoomNumber}}
          </td>
          <td data-column="room_name" class="table-cell">
            {{room.RoomType}}
          </td>
          <td data-column="room_name" class="table-cell">
            {{room.RoomName}}
          </td>
          <td data-column="area" class="table-cell">
            {{room.Area}} m2
          </td>
          <td data-column="population" class="table-cell">
            {{room.RoomPopulation}} stk.
          </td>
          <td data-column="comments" class="table-cell table-cell-very-long">
            {{room.Comments}}
          </td>
          <td id="delete" class="table-cell">
            <form><button class="table-button" onclick="deleteRoom(event)">Slett rom</button></form>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <script src="{{ url_for('rooms.static', filename='room_table.js') }}"></script>
  <script src="{{ url_for('static', filename='js/input_check.js') }}"></script>
{% endblock %}