{% extends "base.html" %}
{%block title%}Romskjema - Varmetapsberegninger{% endblock %}
{% block header %}Ventilasjon{% endblock %}


{%block page_subtitle %}Kjøling{% if building %} - bygg {{building.BuildingName}} {% else %} - oppsummert {% endif %}{% endblock %}
{%block content %}

<input type="text" name="project_id" id="project_id" value="{{project.id}}" hidden readonly>

<div class="ventilation-system-sorting-container">
  <div class="building-selector-container">
    <p>
      <form id="project_building" method="POST">
        <select name="project_building" id="building_select" onchange="showBuildings()">
          {% if building %}
            <option value="{{building.id}}">{{building.BuildingName}}</option>
          {% else %}
            <option value="none">- Velg bygg -</option>
          {% endif %}
          {% for project_building in project_buildings %}
            {% if project_building.BuildingName != building.BuildingName %}
            <option value="{{project_building.id}}">{{project_building.BuildingName}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </p>
  </div>
</div>
<div class="ventilation-system-sorting-container">
  <div class="heating-settings">
    <form name="building_cooling_settings" id="building_cooling_settings">
      <input name="id" id="id" value="{{building.id}}" hidden>
    Romtemp sommer (C&#176;) <br> <input name="room_temp_summer" id="room_temp_summer" placeholder="26" class="input-heating" value="0" {% if not building %} disabled {% endif %}>
    <br>
    Internlast lys (W/m<sup>2</sup>) <br><input name="internal_load_light" id="internal_load_light" placeholder="8" class="input-heating" value="0"{% if not building %} disabled {% endif %}>
    <br>
    Internlast personer (W/pers) <br> <input name="internal_load_people" id="internal_load_people" placeholder="80" class="input-heating" value="0"{% if not building %} disabled {% endif %}>
  </div>
  <div class="heating-settings">
    Tilluftstemp. sommer (C&#176;)<br><input name="vent_temp_summer" id="vent_temp_summer" placeholder="18" class="input-heating" value="0"{% if not building %} disabled {% endif %}>
    <br>
    Soltilskudd (W/m<sup>2</sup>)<br><input name="sun_adition" id="sun_adition" placeholder="18" class="input-heating" value="0"{% if not building %} disabled {% endif %}>
    <br>
    Solreduksjon (0 - 1.0) (C&#176;)<br><input name="sun_reduction" id="sun_reduction" placeholder="18" class="input-heating" value="0"{% if not building %} disabled {% endif %}>
  </div>
  <div class="heating-settings">
    <p>
      <button class="form-button" type="submit" {% if not building %} disabled {% endif %}>Sett standardverdier</button>
      </form>
    </p>
    <p>
      NB! Dette setter standardverdier for ALLE rom. Sett 0 på de verdiene du ikke vil endre. <br>
      De feltene hvor det settes en annen verdi enn 0 blir endret for alle rom i prosjektet.
    </p>
  </div>
</div>
    
<div class="table-wrapper">
  <table class="fl-table" id="coolingTable">
    <thead>
      <tr>
        <th>
          
        </th>        
        <th>
          Etasje
        </th>
                
        <th>
          Romnr
        </th>
        
        <th>
          Romnavn
        </th>
        <th>
          <div class="table-description-dropdown">Romtemp (C&#176;)
            <div class="table-description-dropdown-content">
                 Maks temperatur tillatt ved sommer
              </div>
            </div>
      </th>

      <th>
        <div class="table-description-dropdown">Temp vent (C&#176;)
          <div class="table-description-dropdown-content">
               Temperatur på innblåst luft sommer
            </div>
          </div>
      </th>

        <th>
          <div class="table-description-dropdown">Personer (W/pers)
            <div class="table-description-dropdown-content">
                 Watt per person. Standard er 100W for lite aktivitet.<br>
                 Rom med høyere aktivitet, feks, dansesaler, vil ha høyere <br>
                 internlaster. Må sjekkes opp mot bruken av rommet.
              </div>
            </div>
        </th>

        <th>
          Lys (W/<sup>2</sup>)
        </th>

        <th>
          <div class="table-description-dropdown">Utstyr (W/m<sup>2</sup>)
            <div class="table-description-dropdown-content">
                 Hvis rommet har ekstrautstyr som avgir varme. <br>
                 For eksempel AV-anlegg, maskiner eller annet <br>
                 elektrisk utstyr.
              </div>
            </div>
        </th>

        <th>
          Soltilskudd (W/m<sup>2</sup>)
        </th>

        <th>
          <div class="table-description-dropdown">Solreduksjon (0-1.0)
            <div class="table-description-dropdown-content">
                 1 = 100%. 0 = ingen solskjerming på vindu. <br>
              </div>
            </div>
        </th>

        <th>
          &#8721; internlast (W)
        </th>

        <th>
          Kjøling utstyr W
        </th>

        <th>
          &#8721; kjøling W
        </th>
        
        <th>
          <div class="table-description-dropdown">Ekstra m<sup>3</sup>/h
            <div class="table-description-dropdown-content">
                Tilfør den ekstra luftmengden <br>
                under for å klare <br>
                kjøling i rom med bare luft
              </div>
            </div>
        </th>

        <th>
            Kommentarer
        </th>
      </tr>
    </thead>
    <tbody>
      {% if rooms|length >= 1 %}
        {% for room in rooms %}
          {% if room.ventilation_properties.room.SpecialSystem != "Ja" %}
            <tr class="table-row">
              <td hidden-data-column="energy_data_id">
                <span class="hidden-text">{{room.id}}</span>
              </td>
              <td>
                {{room.Floor}}
              </td>
              <td>
                {{room.RoomNumber}}
              </td>
              <td>
                {{room.RoomName}}
              </td>
              <td data-column="room_temp_summer">
                {{room.energy_properties.RoomTempSummer}}
              </td>
              <td data-column="vent_air_temp_summer">
                {{room.energy_properties.VentAirTempSummer}}
              </td>
              <td data-column="internal_load_people">
                {{room.energy_properties.InternalLoadPeople}}
              </td>
              <td data-column="internal_load_light">
              {{room.energy_properties.InternalLoadLight}}
              </td>
              <td data-column="internal_load_equipment">
                {{room.energy_properties.InternalHeatloadEquipment}}
                </td>
              <td data-column="sun_adition">
                {{room.energy_properties.SunAdition}}
              </td>
              <td data-column="sun_reduction">
                {{room.energy_properties.SunReduction}}
              </td>
              <td>
                {{room.energy_properties.SumInternalHeatLoad}}
              </td>
              <td data-column="equipment_cooling">
                {{room.energy_properties.CoolingEquipment}}
              </td>
              <td>
                {{room.energy_properties.CoolingSum}}
              </td>
              <td>
                  {% if (room.energy_properties.SumInternalHeatLoad - room.energy_properties.CoolingSum) > 0 %}
                  {{ ((room.energy_properties.SumInternalHeatLoad - room.energy_properties.CoolingSum) / (0.35*(room.energy_properties.VentAirTempSummer - room.energy_properties.RoomTempSummer)))|round (1) }}    
                  {% endif %}
                <!-- (varme-kjøling)/(0,35*(temp inn - temp ute))  -->
              </td>
              <td>
              {% if (room.energy_properties.SumInternalHeatLoad - room.energy_properties.CoolingSum) > 0 %}
                Ikke nok kjøling på Ventilasjon
              {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>


</div>
<script src="{{ url_for('static', filename='/js/cooling_table.js') }}"></script>
{% endblock %}
