{% extends "base.html" %}
{%block title%}Romskjema - romliste{% endblock %}
{% block header %}Ventilasjon{% endblock %}


{%block page_subtitle %}Luftmengdetabell{% endblock %}
{%block content %}
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
    <div class="ventilation-system-sorting-container">
      <div class="building-selector-container">
        <form id="project_building" method="POST">
          <select name="project_building" onchange="showBuildings()">
            <option value="none">- Velg bygg -</option>
            <option value="showall">Alle</option>
            {% for building in project_buildings %}
            <option value="{{building.id}}">{{building.BuildingName}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <!-- End new room form -->
    
<div class="table-header-container">
  <table class="table-wrapper tableView">
    <thead>
      <tr class="table-header">
        <th class="table-id-cell table-cell-small">
          id
        </th>
        <th class="table-cell table-cell-medium">
          Bygg
        </th>
        
        <th class="table-cell table-cell-small">
          Etasje
        </th>
                
        <th class="table-cell table-cell-medium">
          Romnr
        </th>
        
        <th class="table-cell">
          Romnavn
        </th>

        <th class="table-cell">
            m3/pers
        </th>

        <th class="table-cell">
            Personer summert
        </th>

        <th class="table-cell">
            Emisjon
        </th>

        <th class="table-cell">
            Emisjon summert
        </th>

        <th class="table-cell">
            Prosess
        </th>

        <th class="table-cell">
          Minimum
        </th>

        <th class="table-cell">
            Dimensjonert
        </th>

        <th class="table-cell">
            Tilluft
        </th>

        <th class="table-cell">
            Avtrekk
        </th>

        <th class="table-cell">
            Valgt
        </th>

        <th class="table-cell">
            System
        </th>
        <th class="table-cell table-cell-long">
            Kommentarer
        </th>

      </tr>
    </thead>
  </table>
</div>
<div class="table-container">
  <table id="roomsTableVentilation" class="table-wrapper tableView">
    <tbody>
      {% for data in ventilation_data %}
      <tr class="table-row">
        <td class="table-cell table-cell-small" data-column="vent_data_id">
          {{data.id}}
        </td>
        <td class="table-cell table-cell-medium">
          {{data.room_ventilation.building.BuildingName}}
        </td>
        <td class="table-cell table-cell-small">
          {{data.room_ventilation.Floor}}
        </td>
        <td class="table-cell table-cell-medium">
          {{data.room_ventilation.RoomNumber}}
        </td>
        <td class="table-cell">
          {{data.room_ventilation.RoomName}}
        </td>
        <td class="table-cell">
          {{data.AirPerPerson}} m3
        </td>
        <td class="table-cell">
          {{data.AirPersonSum}} m3/h
        </td>
        <td class="table-cell">
          {{data.AirEmission}} m3/m2
        </td>
        <td class="table-cell">
          {{data.AirEmissionSum}} m3/h
        </td>
        <td class="table-cell">
            {{data.AirProcess}} m3/h
        </td>
        <td class="table-cell">
          {{data.AirMinimum}} m3/h
        </td>
        <td class="table-cell">
            {{data.AirDemand}} m3/h
        </td>
        <td class="table-cell supplyCell" data-column="supply_air">
            {{data.AirSupply}} m3/h
        </td>
        <td class="table-cell extractCell" data-column="extract_air">
            {{data.AirExtract}} m3/h
        </td>
        <td class="table-cell">
            {{data.AirChosen}} m3/m2
        </td>
        <td class="table-cell" data-column="system_id">         
          <form id="system" method="POST">
            
            <select class="table-select" name="system_id" id="system_id">
              {% if not data.room.SystemName %}
                <option value="none">- System -</option>
              {% else %}
                <option value="{{data.SystemId}}">- {{data.room.SystemName}} -</option>
              {% endif %}
              
              {% for system in system_names %}
                {% if system.SystemName != data.room.SystemName %}
                  <option value="{{system.id}}">{{system.SystemName}}</option>
                {% endif %}
              {% endfor %}
              
            </select>
          </form>
        </td>
        <td class="table-cell table-cell-long" data-column="comment">
            {{data.Comments}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{{ url_for('ventilation.static', filename='ventilation_table.js') }}"></script>
{% endblock %}
