{% extends "base.html" %}
{%block title%}Romskjema - velg prosjekt{% endblock %}
{% block pagetitle %}Prosjekt dashboard{%endblock%}

{%block page_subtitle %}Prosjekt{% endblock %}

{%block content %}

<form class="custom-form profile-form" method="POST" role="form">
    <p>
        <select name="project_id">
            <option value="none">-  Velg prosjekt -</option>
            {% for project in projects %}
            <option value="{{project.id}}">{{project.ProjectName}}</option>
            {% endfor %}
        </select>
    </p>
        <p>
            <button type="submit" class="form-button">
                Gå til
            </button>
        </p>
</form>

{% endblock %}