{% extends "base.html" %}
{%block title%}Romskjema{% endblock %}
{% block header %}Romskjema{% endblock %}

{%block page_subtitle %}{{project.ProjectName}}{% endblock %}
{%block content %}
    <div class="text-container">
    <h1 class="app-content-Text">Logget inn som {{user.name}}</h1>
    <br>
    <h1 class="app-content-Text">Prosjektnummer</h1>
    <p class="app-content-Text">
        <span class="status disabled">{{project.ProjectNumber}}</span>
    </p>
    <br>
    <h1 class="app-content-Text">Størrelse</h1>
    <p class="app-content-Text">
        <span class="status disabled">{{total_area}} m2</span>
    </p>
    <br>
    <h1 class="app-content-Text">Beskrivelse - viktig informasjon</h1>
    <p class="p-description">
        {{project.ProjectDescription | replace('\n', '<br>') | safe}}
    </p>
    <br>
    <h1 class="app-content-Text">Gjellende kravspesifikasjon</h1>
    <p class="app-content-Text">
        <form action="{{ url_for('specifications.specifications', specification=project.Specification) }}"><button class="app-content-headerButton" type="submit">{{project.Specification}}</button></form>
    </p>
</div>
{% endblock %}