{% extends "base.html" %}
{%block title%}Romskjema - endre prosjektinnstillinger{% endblock %}
{% block header %}Kravspesifikasjoner{% endblock %}
{% block pagetitle %}Ny kravspesifikasjon{%endblock%}

{% block page_subtitle %}Legg til nye romtyper for <a href="{{ url_for('specifications.specifications', specification=specification)}}"> {{specification}}</a>{% endblock %}
{% block content %}

<form id ="new_room">
<input type="text" class="input-spec" name="spec_id" id="spec_id" value="{{spec_object.id}}" hidden>
<input type="text" class="input-spec" name="spec" id="spec" value="{{specification}}" hidden>
    <div class="heating-settings">
        <p>
        <p>
            Romtype <br>
            <input type="text" class="input-spec" name="room_type" id="room_type" placeholder="Romtype" tabindex="1" required>
        </p>
        <p>
            Luftmengde per person m<sup>3</sup>/pers <br>
            <input type="text" class="input-spec" name="air_per_person" id="air_per_person" placeholder="m3/pers" tabindex="2">
        </p>
        <p>
            Emisjonsbelastning m<sup>3</sup>/h <br>
            <input type="text" class="input-spec" name="air_emission" id="air_emission" placeholder="m3/h" tabindex="3" required>
        </p>
        <p>
            Prosess m<sup>3</sup>/h <br>
            <input type="text" class="input-spec" name="air_process" id="air_process" placeholder="m3/h" tabindex="4">
        </p>
        <p>
            Minimum luftmengde m<sup>3</sup>/m<sup>2</sup> <br>
            <input type="text" class="input-spec" name="air_minimum" id="air_minimum" placeholder="m3/m2" tabindex="5" required>
        </p>
        <p>
            Ventilasjonsprinsipp <br>
            <select tabindex="6" id="ventilation_principle" name="ventilation_principle">
                <option value="Omrøring">Omrøring</option>
                <option value="Fortrengning">Fortrengning</option>
                <option value="Annet">Annet</option>
            </select>
        </p>
        <p>
            Gjenvinner: <br>
            <select tabindex="6" id="heat_ex" name="heat_ex" tabindex="7">
                <option value="R">Roterenede</option>
                <option value="P">Kryss/plate</option>
                <option value="B">Batteri</option>
            </select>    
        </p>
        <p>
            db-teknisk, db-naborom, db-korridor <br>
            <input type="text" class="input-spec" name="db_technical" id="db_technical" placeholder="32dB" tabindex="10"> <br>
            <input type="text" class="input-spec" name="db_neighbour" id="db_neighbour" placeholder="44dB" tabindex="11"> <br>
            <input type="text" class="input-spec" name="db_corridor" id="db_corridor" placeholder="28dB" tabindex="12">   
        </p>
    </div>

    <div class="heating-settings">
        <p>
            Romstyring: <br>
            <div class="checkbox-group">
                <label for="vav">VAV:</label>
                <input type="radio" name="vav" value="1" tabindex="8" checked>
            </div>
            <div class="checkbox-group">
                <label for="cav">CAV</label>
                <input type="radio" name="vav" value="2" tabindex="9">
            </div>
            <div class="checkbox-group">
                <label for="temp">CO2</label>
                <input type="checkbox" name="co2" id="co2" tabindex="10">
            </div>
            <div class="checkbox-group">
                <label for="temp">Temp</label>
                <input type="checkbox" name="temp" id="temp" tabindex="10">
            </div>
            <div class="checkbox-group">
                <label for="movement">Bevegelse</label>
                <input type="checkbox" id="movement" name="movement" tabindex="11">
            </div>
            <div class="checkbox-group">
                <label for="moisture">Fukt</label>
                <input type="checkbox" id="moisture" name="moisture" tabindex="12">
            </div>
            <div class="checkbox-group">
                <label for="time">Tid</label>
                <input type="checkbox" id="time" name="time" tabindex="13">
            </div>
        </p>
        <p>
            Presiseringer: <br>
            <textarea class="form-text-area" name="notes" id="notes" tabindex="9"></textarea>
        </p>
        <p>
            <button type="button" class="spec-button" onclick="submitNewRoom()" tabindex="14">Legg til</button>
        </p>
    </div>
</form>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}