{% extends "base.html" %}
{%block title%}Romskjema - endre prosjektinnstillinger{% endblock %}
{% block header %}Kravspesifikasjoner{% endblock %}
{% block pagetitle %}Ny kravspesifikasjon{%endblock%}

{% block page_subtitle %}Opprett ny kravspesifikasjon{% endblock %}
  
{% block content %}
<p>
    <form method="POST"> 
        <input type="text" id="spec_name" name="spec_name" placeholder="Navn på kravspesifikasjon" required>
        <button type="submit" class="form-button">Opprett</button>
    </form>
</p>

<script src="{{ url_for('specifications.static', filename='spec_table.js') }}"></script>
{% endblock %}