{% extends "base.html" %}
{%block title%}Romskjema - {{specification}} {% endblock %}
{% block header %}Kravspesifikasjoner{% endblock %}
{% block pagetitle %}Kravspesifikasjoner {% if specification %}- {{specification}}{%endif%}{%endblock%}

{% block page_subtitle %}
  {% if specification %}
    Romtyper {{specification}}
  {% else %}
    Kravspesifikasjoner
  {% endif %}
{% endblock %}
  
{% block content %}
  {% if specification %}
  <p>
  <form method="POST" id ="new_room" action="{{url_for('specifications.new_room')}}">
    <input type="text" class="input-spec" name="spec" id="spec" value="{{specification}}" hidden>
    <input type="text" class="input-spec" name="spec_id" id="spec" value="{{spec_object.id}}" hidden>
    <input type="text" class="input-spec" name="room_type" id="room_type" placeholder="Romtype" tabindex="1" required>
    <input type="text" class="input-spec" name="air_per_person" id="air_per_person" placeholder="m3/pers" tabindex="2" required>
    <input type="text" class="input-spec" name="air_emission" id="air_emission" placeholder="Emisjon m3/h" tabindex="3" required>
    <input type="text" class="input-spec" name="air_process" id="air_process" placeholder="Prosess m3/h" tabindex="4" required>
    <input type="text" class="input-spec" name="air_minimum" id="air_minimum" placeholder="Minimum m3/m2" tabindex="5" required>
    <input type="text" class="input-spec" name="ventilation_principle" id="ventilation_principle" placeholder="Prinsipp" tabindex="6" required>
    <input type="text" class="input-spec" name="heat_ex" id="heat_ex" placeholder="Varmeveksler" tabindex="7">
    <input type="text" class="input-spec" name="room_control" id="room_control" placeholder="Styring" tabindex="8" required>
    <input type="text" class="input-spec" name="notes" id="notes" placeholder="Presiseringer" tabindex="9">
    <input type="text" class="input-spec" name="db_technical" id="db_technical" placeholder="dB-teknisk" tabindex="10">
    <input type="text" class="input-spec" name="db_neighbour" id="db_neighbour" placeholder="dB-naborom" tabindex="11">
    <input type="text" class="input-spec" name="db_corridor" id="db_corridor" placeholder="db-korridor" tabindex="12">
    <input type="text" class="input-spec" name="comments" id="comments" placeholder="Kommentar" tabindex="13">
    <button type="submit" class="spec-button" tabindex="14">Legg til</button>
  </form>
  </p>
    <div class="table-header-container">
      <table id="roomsTable" class="table-wrapper">
          <thead>
            <tr class="table-header">
              <th class="table-cell table-cell-small">
                id
              </th>
              <th class="table-cell table-cell-long">
                Romtype
              </th>
              <th class="table-cell">
                Luft per person
              </th>   
              <th class="table-cell">
                Emisjon
              </th>
              <th class="table-cell">
                Prosess
              </th>
              <th class="table-cell">
                Luft minimum
              </th>
              <th class="table-cell">
                Vent. prinsipp
              </th>
              <th class="table-cell table-cell-medium">
                Gjenvinner
              </th>
              <th class="table-cell">
                Styring
              </th>
              <th class="table-cell table-cell-long">
                Presiseringer
              </th>
              <th class="table-cell">
                  dB teknisk
              </th>
              <th class="table-cell">
                  dB naborom
              </th>
              <th class="table-cell">
                  dB korridor
              </th>
              <th class="table-cell table-cell-long">
                  Kommentar
              </th>
            </tr>
          </thead>
        </table>
      </div>
      
      <div class="table-container">
        <table id="roomsTable" class="table-wrapper">
          <tbody>
              {% for data in specification_data %}
            <tr class="table-row">
              <td class="table-cell table-cell-small">
                {{data.id}}
              </td>
              <td class="table-cell table-cell-long">
                {{data.name}}
              </td>
              <td class="table-cell">
                {{data.air_per_person}} m3/pers
              </td>
              <td class="table-cell">
                {{data.air_emission}} m3/m2
              </td>
              <td class="table-cell">
                {{data.air_process}} m3/h
              </td>
              <td class="table-cell">
                  {{data.air_minimum}} m3/h
                </td>
              <td class="table-cell">
                {{data.ventilation_principle}}
              </td>
              <td class="table-cell table-cell-medium">
                  <span class="hover-popup" data-popup="R=Roterende\nB=Batteri\nP=Plate">{{data.heat_exchange}}</span>
              </td>
              <td class="table-cell">
                  <span class="hover-popup" data-popup="V=VAV\nC=CAV\nT=Temp\nB=Bevegelse\nF=Fukt">{{data.room_control}}</span>
              </td>
              <td class="table-cell table-cell-long">
                  <span class="notes-popup" data-popup="{{data.notes}}">{{data.notes}}</span>
              </td>
              <td class="table-cell">
                  {{data.db_technical}}
              </td>
              <td class="table-cell">
                  {{data.db_neighbour}}
              </td>
              <td class="table-cell">
                  {{data.db_corridor}}
              </td>
              <td class="table-cell table-cell-long">
                  {{data.comments}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  {% else %}

    <p>
      <form action="{{ url_for('specifications.new_specification') }}"><button class="app-content-headerButton">Lag ny kravspesifikasjon</button></form> 
    </p>
    <p>
        Kravspesifikasjoner i databasen:
        <br>
        {% for spec in specifications %}
        - <a href="{{ url_for('specifications.specifications', specification=spec.name)}}">{{spec.name}}</a> <br>
        
        {% endfor %}
    </p>
      
  {% endif %}
<script src="{{ url_for('specifications.static', filename='spec_table.js') }}"></script>
{% endblock %}