{% extends "base.html" %}
{%block title%}Romskjema - {{specification}} {% endblock %}
{% block header %}Kravspesifikasjoner{% endblock %}
{% block pagetitle %}Kravspesifikasjoner {% if specification %}- {{specification}}{%endif%}{%endblock%}

{% block page_subtitle %}
  {% if specification %}
    Romtyper {{specification}} - <a href="{{ url_for('specifications.new_room', specification=specification)}}">Legg til nye romtyper</a>
  {% else %}
    Kravspesifikasjoner
  {% endif %}
{% endblock %}
  
{% block content %}
  {% if specification %}
    <div class="table-wrapper">
      <table id="roomsTable" class="fl-table">
          <thead>
            <tr>
              <th>
                Romtype
              </th>
              <th>
                Luft per person
              </th>   
              <th>
                Emisjon
              </th>
              <th>
                Prosess
              </th>
              <th>
                Luft minimum
              </th>
              <th>
                Vent. prinsipp
              </th>
              <th>
                Gjenvinner
              </th>
              <th>
                <div class="table-description-dropdown">Styring
                  <div class="table-description-dropdown-content">
                    V = VAV <br>
                    C = CAV <br>
                    B = Bevegelse <br>
                    T = Temp <br>
                    F = Fukt <br>
                    </div>
                  </div>  
                
              </th>
              <th>
                Presiseringer
              </th>
              <th>
                  dB teknisk
              </th>
              <th>
                  dB naborom
              </th>
              <th>
                  dB korridor
              </th>
              <th>
                  Kommentar
              </th>
            </tr>
          </thead>
          <tbody>
              {% for data in specification_data %}
            <tr>
              <td>
                {{data.name}}
              </td>
              <td>
                {{data.air_per_person}} m3/pers
              </td>
              <td>
                {{data.air_emission}} m3/m2
              </td>
              <td>
                {{data.air_process}} m3/h
              </td>
              <td>
                  {{data.air_minimum}} m3/h
                </td>
              <td>
                {{data.ventilation_principle}}
              </td>
              <td>  
                {{data.heat_exchange}}
              </td>
              <td class="table-cell">
                  {{data.room_control}}
              </td>
              <td>
                  {{data.notes}}
              </td>
              <td>
                  {{data.db_technical}}
              </td>
              <td>
                  {{data.db_neighbour}}
              </td>
              <td>
                  {{data.db_corridor}}
              </td>
              <td>
                  {{data.comments}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

  {% else %}

    <p>
      <form action="{{ url_for('specifications.new_specification') }}"><button class="app-content-headerButton">Lag ny kravspesifikasjon</button></form> 
    </p>
    <p>
        Kravspesifikasjoner i databasen:
        <br>
        {% for spec in specifications %}
        - <a href="{{ url_for('specifications.specifications', specification=spec.name)}}">{{spec.name}}</a> <br>
        
        {% endfor %}
    </p>
      
  {% endif %}
<script src="{{ url_for('static', filename='js/spec_table.js') }}"></script>
{% endblock %}