{% extends "base.html" %}
{%block title%}Brukerprofil{% endblock %}
{% block header %}Brukerprofil {{user.name}}{% endblock %}



{%block page_subtitle %}Brukerprofil {{user.name}}{% endblock %}
{%block content %} 
<div class="summaries-wrapper">


Buker-ID: {{user.id}} 
<br>
Navn: {{user.name}}
<br>
Email: {{user.email}}
<p>
    Oppdater passord. (Krever innlogging på nytt)
</p>
<form method="POST" action="{{ url_for('user.update_password', username=user.name) }}">
    <input type="text" value="{{user.id}}" name="user_id" hidden>
    <input type="text" value="{{user.name}}" name="username" hidden>
    <input type="password" name="password" placeholder="Nytt passord">
    <br>
    <input type="password" name="password_confirm" placeholder="Bekreft passord">
    <br>
    <button class="form-button">Oppdater</button>
</form>
</div>

{% endblock %}