{% extends "base.html" %}
{%block title%}Romskjema - oversikt bygg{% endblock %}
{% block header %}Bygg{% endblock %}



{%block page_subtitle %}Ventilasjonsystemer{% endblock %}
{%block content %}
    {% if system %}
    Systeminformasjon {{system}}
    {% else %}
    <!-- New system form -->
    <div class="split-container-left no-print">
      <input type="text" name="project_id" id="project_id" value="{{project.id}}" hidden readonly>
      <p>
        Legg til system <br>
          <form class="custom-form profile-form" id="system" method="POST" role="form">
              Systemnummer <br>
              <input type="text" name="system_number" id="system_number" placeholder="Systemnummer" tabindex="1" required>
              <br>
              <br>
              Aggregatplassering <br>
              <input type="text" name="system_placement" id="system_placement" placeholder="Plassering" tabindex="2" required>
              <br>
              <br>
              Betjeningsområde <br>
              <input type="text" name="system_service" id="system_service" placeholder="Betjeningsområde" tabindex="3">
              <br>
              <br>
              Luftmengde tatt ut <br>
              <input type="text" name="airflow" id="airflow" placeholder="Luftmengde" tabindex="4">
              <br>
              <br>
              <select id="heat_exchange" name="heat_exchange" tabindex="5">
                <option value="none">- Gjenvinner -</option>
                <option value="R">Roterende</option>
                <option value="P">Plate/kryss</option>
                <option value="B">Batteri</option>
                <option value="0">Ingen</option>
              </select>
              <br>
              <br>
              <label>Spesialsystem<br>
                  <input type="checkbox" id="special_system" name="special_system" tabindex="6"></label>
              <br>
  
              <button type="submit" class="form-button" tabindex="7">Legg til</button>
          </form>
      </p>
    </div>

  <div class="split-container-right">
    <div class="table-wrapper">
        <table class="fl-table" id="systemsTableVentilation">
          <thead>
            <tr>
              <th class="table-id-cell">
              </th>
              <th>
                Systemnr
              </th>
              <th>
                Plassering
              </th>   
              <th>
                Betjeningsområde
              </th>
              <th>
                Viftekapasitet m<sup>2</sup>/h
              </th>
              <th>
                
                <div class="table-description-dropdown">Gjenvinner
                  <div class="table-description-dropdown-content">
                      R: roterende<br>
                      P: plate/kryss <br>
                      B: batteri
                    </div>
                  </div>
              </th>
              <th>
                Tilluft m<sup>2</sup>/h
              </th>
              <th>
                Avtrekk m<sup>2</sup>/h
              </th>
              <th>
                Spesialsystem
              </th>
              <th>
                Kommentar
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for system in systems %}
              {% if system.SpecialSystem == "" %}
              <tr>
                <td hidden-data-column="system_id">
                  <span class="hidden-text">{{system.id}}</span>
                </td>
                <td data-column="system_number">
                  {{system.SystemName}}
                </td>
                <td data-column="system_location">
                  {{system.Location}}
                </td>
                <td data-column="service_area">
                  {{system.ServiceArea}}
                </td>
                <td data-column="airflow">
                  {{system.AirFlow}}
                </td>
                <td data-column="system_hx">
                  {% if system.HeatExchange == None %}
                  
                  {% else %}
                  {{system.HeatExchange}}
                  {% endif %}
                </td>
                <td>
                  {{system.AirFlowSupply}}
                </td>
                <td>
                  {{system.AirFlowExtract}}
                </td>
                <td>
                  {{system.SpecialSystem}}
                </td>
                <td>
                  {% if system.AirFlowSupply != None %}
                    {% if system.AirFlowSupply > system.AirFlow %}
                      Prosjektert m3 > aggregat.
                    {% elif system.AirFlowSupply != system.AirFlowExtract %}
                      Ubalanse på systemet.
                    {% endif %}
                  {% endif %}
                </td>
                <td id="delete">
                  <form><button class="table-button" onclick="deleteSystem(event)">Slett system</button></form>
                </td>
                </tr>
                {% endif %}
              {% endfor %}

                  <tr>
                    <td>
                      <br>
                    </td>
                  </tr>
                <tr>
                  <td>

                  </td>
                  <th>
                    Spesialsystemer
                  </th>
                  {% for i in range(1,10) %}
                  <td>

                  </td>
                  {% endfor %}
                </tr>

              {% for system in systems %}
              {% if system.SpecialSystem == "Ja" %}
              <tr>
                <td hidden-data-column="system_id">
                  <span class="hidden-text">{{system.id}}</span>
                </td>
                <td data-column="system_number">
                  {{system.SystemName}}
                </td>
                <td data-column="system_location">
                  {{system.Location}}
                </td>
                <td data-column="service_area">
                  {{system.ServiceArea}}
                </td>
                <td data-column="airflow">
                  {{system.AirFlow}}
                </td>
                <td data-column="system_hx">
                </td>
                <td>
                  {{system.AirFlowSupply}}
                </td>
                <td>
                  {{system.AirFlowExtract}}
                </td>
                <td>
                  {{system.SpecialSystem}}
                </td>
                <td>
                  {% if system.AirFlowSupply %}
                  {% if system.AirFlowSupply > system.AirFlow or system.AirFlowExtract > system.AirFlow %}
                      Prosjektert m3 > system.
                  {% endif %}
                  {% endif %}
                </td>
                <td id="delete">
                  <form><button class="table-button" onclick="deleteSystem(event)">Slett system</button></form>
                </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
      
      </div>
    </div>

    <!-- End new system form -->
    {% endif %}
    <script src="{{ url_for('static', filename='/js/system_table.js') }}"></script>
{% endblock %}
